.App {
  text-align: center;
}
body{
  background-color: cadetblue;
}
.Header{
  width: 100%;
  height: 50px;
  background-color: #3e6364;
}
#logo{
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}
.Block{
  width: 250px;
  height: 150px;
  cursor: grab;
  transition: all 0.1s cubic-bezier(0.1, 0.0, 0.2, 1);
}
.Block:active{
  cursor: grabbing;
  transform: scale(.5);
}
.Block.dragging{
  z-index: 100;
  opacity: 1;
    transform: scale(.5);
}
.newBlock{
  position: absolute;
  transform: translate(5-0,0);
  right: 50%;
  width: 200px;
  height: 50px;
  background-color: #3e6364;
  border-radius: 0px 0px 10px 10px;
}
#new-block{
  position: relative;
  top: -12px;
  width: 100px;
  border-style: none;
  outline: none;
  border-radius: 30px;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  text-align: center;
}
.button-new-block:hover{
  transform: scale(1.2);
}



